<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.wenguang.chat"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- BmobSDK权限 -->
    <!--允许联网 -->
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <!--获取wifi网络状态的信息 -->
    <!--允许读取手机状态 -->
    <!-- 其他权限 短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- Required -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <!-- end -->
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 获取通话信息记录状态 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 开机监听权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:excludeFromRecents="false"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme.Trans">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LocalAlbum"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.LocalAlbumDetailSingle"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CallPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"/>
        <activity
            android:name=".activity.RecommendActivity"
            android:label="@string/title_activity_recommend"/>
        <activity
            android:name=".activity.SendMessageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.EMCallPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.ImagesDetailActivity"
            android:screenOrientation="portrait"/>

        <!-- 开机自启的监听 -->
        <receiver android:name=".event.BootBroadcastReceiver">
                    
            <intent-filter>
                        
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                        
                <category android:name="android.intent.category.DEFAULT"/>
                        
            </intent-filter>
            <intent-filter>
                        
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED"/>
                        
                <category android:name="android.intent.category.DEFAULT"/>
                        
            </intent-filter>
            <intent-filter>
                        
                <action android:name="android.intent.action.RECEIVE_BOOT_COMPLETED"/>
                        
                <category android:name="android.intent.category.DEFAULT"/>
                        
            </intent-filter>
                
        </receiver>
        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="a616707902#wenguang"/>
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MessageConvertionActivity"
            android:label="@string/title_activity_message_convertion">
        </activity>
    </application>

</manifest>
